#kopfbereich {
  background:url(/bilder/logo_mit_schrift.jpg) no-repeat left top;
  height:200px;
}

#kopfbereich p {
  color:white;
  display:inline;
}

#steuerung {
  margin-left: 70px;
  position: absolute;
}

#steuerung a {
  color: #abcc60;
  text-align:right;
  font-size:20px;
  padding: 5px;
  text-decoration: none;
  float: left;
  clear: both;
}

#inhalt {
  background-color:#FFFFFF;
  min-height: 450px;
  margin-left: 340px;
  line-height: 1.4;
  display: inline-block;
  min-width: 713px;
}

#inhalt p, #inhalt ol{
  max-width:750px;
}

#inhalt h1 {
  color: #abcc60;
  font-size:20px;
  margin-bottom: 10px;
}
#inhalt p {
  color:#000000;
  text-align:left;
  font-size:15px;
  padding:0 0 10px 0px ;
}

#inhalt a {
  color:#000000;
  text-align:left;
  font-size:15px;
}

div.gallery{ 
  margin: 20px 80px 50px 0;
}

a.fancybox img {
  max-height: 180px;
  margin: 1px 3px;
}

div.waehle{
  margin: 20px 0
}

div.waehle img{
  max-height: 220px;
  margin: 0 5px;
}

#footer {
  background:url(/bilder/blumen.png) no-repeat 300px top;
}

#footer a {
  color: #abcc60;
  font-size: 10px;
  padding:0 0 0 75px;
}

html, body {
  font: 15px Arial, Helvetica, sans-serif;
  height: 100%;
}

body {
  margin: 0 20px;
}

ul{
    list-style-type:square;
}

* {
  margin: 0;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -22px; /* the bottom margin is the negative value of the footer's height */
}

#footer, .push {
  height: 22px; /* .push must be the same height as .footer */
}
