---
title: Gaertner
---

<%= fancybox %>

<h1>Gartenbau</h1>

<p>
    Im Bereich Gartenbau bietet Hack & Hobel folgende Leistung an:
</p>

<ul>
  <li>Beratung und Planung</li>
  <li>Gartenpflege</li>
  <li>Pflanzungen</li>
  <li>Baumpflege</li>
  <li>Terrassen und Wege</li>
  <li>Natursteinarbeiten</li>
  <li>Zäune und Pergolen</li>
  <li>Kinderspielplätze</li>
  <li>Dachbegrünung</li>
  <li>Fassadenbegrünung</li>
  <li>Teichbau</li>
  <li>Bewässerungsanlagen</li>
  <li>Regenwassernutzung</li>
</ul>
<br />
<div class='gallery'>
  <%= bilder('gaertner') %>
</div>
