--- 
title: Tischler
--- 

<%= fancybox %>
<!--
  <img src="/bilder/beiderarbeit.jpg" height="200" border="0" style="float:right;" alt="Tischler" />
-->

<h1>Tischler</h1>

<p>Folgende Tischlerarbeiten bietet Hacke & Hobel an: (im Reisegewerbe, wir kommen zu Ihnen)</p>
<ul>
  <li>Anfertigung von Möbeln aus Vollholz und Holzwerkstoffen</li>
  <li>Anfertigung von Türen, Fenstern, Treppen und Hochbetten</li>
  <li>Bau von Holzspielzeug</li>
  <li>Einbau von genormten Bau-Fertigteilen</li>
  <li>Messebau</li>
  <li>Montagearbeiten</li>
  <li>Neuverlegung von Holzfußböden</li>  
  <li>Pflege von Holzfußböden</li>
</ul>

<p></p>
<p>Wer sagt denn, dass ein Hochbett eckig sein muss?</p>

<div class='gallery'>
  <h2>Verschiedene Aufträge</h2>
  <%= bilder('tischler') %>
</div>
<div class='gallery'>
  <h2>Kisten-Schrank</h2>
  <%= bilder('tischler/KistenSchrank') %>
</div>

<div class='gallery'>
  <h2>Kita Grossstadtgoeren</h2>
  <%= bilder('tischler/KitaGrossstadtgoeren') %>
</div>

<div class='gallery'>
  <h2>Terrasse Wukaninchen</h2>
  <%= bilder('tischler/TerrasseWukaninchen') %>
</div>

<div class='gallery'>
  <h2>DIELEN für die m29</h2>
  <%= bilder('tischler/m29DIELEN') %>
</div>

<div class='gallery'>
  <h2>Kita Bremen </h2>
  <%= bilder('tischler/KitaBremen') %>
</div>
